<div class="jumbotron">
	<div class="contenedor">
	   <h1 style="margin-top: 20px; color:bisque;">{{title}}</h1>
	   <p style="margin-top: 20px; color:bisque;" > Disfruta de las publicaciones de tus amigos y comparte tu vida :)</p>
	   <p>
		   <a href="#" class="btn btn-success btn-lg" role="button">
			   Mi perfil
		   </a>
		   <a href="#" class="btn btn-primary btn-lg" role="button">
			   Estado
		   </a>
		   <a href="#" class="btn btn-default btn-lg" role="button">
			   Gente
		   </a>
	   </p>
	</div>

</div>


<footer>
   <div class="contenedor1" >

	   <h4>FariñaSocial ©2019 </h4>
   </div>

   <div class="contenedor3" >

	   <h5 style="font-family: 'Times New Roman', Times, serif;">Desarrollado por Kevin Vanegas Fariñas y Joan Mendoza </h5>
   </div>
   
   
</footer>
